In [ ]:
#import Lirbarys
import pandas as pd
import plotly.graph_objects as go
import numpy as np
import datetime as dt


import matplotlib.cm as cm
import matplotlib.colors as colors
import matplotlib.pyplot as plt


import seaborn as sns

In [ ]:
#read xlsx to df

df=pd.read_excel("data.xlsx")

In [ ]:
df.shape

(2473, 19)

In [ ]:
df.head()

,id,final_status,store_address_id,customer_id,courier_id,vertical,is_food,transport,number_of_assignments,total_real_distance,activation_time_local,last_courier_assigned_time,courier_started_order_local,courier_enters_pickup_time_local,pickup_time_local,courier_enters_delivery_point_time_local,termination_time,Count,Total Time
0,53134335.0,DeliveredStatus,85260.0,18579597.0,20153483.0,WALL - Partner,1.0,BICYCLE,1.0,6.029,2019-07-13 13:04:44,2019-07-13 13:05:32,2019-07-13 13:06:49,2019-07-13 13:09:13,2019-07-13 13:28:45,2019-07-13 13:46:58,2019-07-13 13:59:49,NaN,55
1,53009545.0,DeliveredStatus,23517.0,11871195.0,20153483.0,WALL - Partner,1.0,BICYCLE,1.0,3.998,2019-07-12 20:06:29,2019-07-12 20:10:42,2019-07-12 20:11:02,2019-07-12 20:16:05,2019-07-12 20:23:07,2019-07-12 20:37:53,2019-07-12 20:43:01,NaN,36
2,53129297.0,DeliveredStatus,18300.0,1053786.0,20153483.0,WALL - Partner,1.0,BICYCLE,1.0,5.309,2019-07-13 12:14:58,2019-07-13 12:15:44,2019-07-13 12:23:40,2019-07-13 12:45:16,2019-07-13 12:50:09,2019-07-13 12:55:16,2019-07-13 12:59:23,NaN,44
3,53235752.0,CanceledStatus,85260.0,20466508.0,20153483.0,WALL - Partner,1.0,BICYCLE,1.0,6.429,2019-07-13 21:55:58,2019-07-13 22:24:58,2019-07-13 22:24:58,NaT,NaT,NaT,2019-07-13 22:25:15,NaN,29
4,53002671.0,DeliveredStatus,15912.0,16549489.0,20153483.0,WALL - Partner,1.0,BICYCLE,1.0,3.442,2019-07-12 19:40:13,2019-07-12 19:41:14,2019-07-12 19:42:34,2019-07-12 19:46:28,2019-07-12 19:56:59,2019-07-12 20:07:08,2019-07-12 20:10:37,NaN,30

In [ ]:
#fix/fill nulls

df.isnull().sum(axis=0)

id                                             2
final_status                                   2
store_address_id                              33
customer_id                                    2
courier_id                                     2
vertical                                       2
is_food                                        2
transport                                      2
number_of_assignments                          2
total_real_distance                            2
activation_time_local                          2
last_courier_assigned_time                     2
courier_started_order_local                    2
courier_enters_pickup_time_local              63
pickup_time_local                             63
courier_enters_delivery_point_time_local      69
termination_time                               2
Count                                       2473
Total Time                                     0
dtype: int64

In [ ]:
#count is 100% missing so wel will remove it 

df.isnull().sum()/len(df)*100

id                                            0.080873
final_status                                  0.080873
store_address_id                              1.334412
customer_id                                   0.080873
courier_id                                    0.080873
vertical                                      0.080873
is_food                                       0.080873
transport                                     0.080873
number_of_assignments                         0.080873
total_real_distance                           0.080873
activation_time_local                         0.080873
last_courier_assigned_time                    0.080873
courier_started_order_local                   0.080873
courier_enters_pickup_time_local              2.547513
pickup_time_local                             2.547513
courier_enters_delivery_point_time_local      2.790133
termination_time                              0.080873
Count                                       100.000000
Total Time                                    0.000000
dtype: float64

In [ ]:
df = df.drop('Count', axis='columns')

In [ ]:
df.dropna(subset=['id', 'customer_id', 'courier_id','vertical', 'is_food','transport', 'number_of_assignments',
                  'total_real_distance', 'activation_time_local', 'last_courier_assigned_time',
                  'courier_started_order_local', 'final_status'], axis='index', inplace=True)

In [ ]:
# look at the  missing valus in 3 columns (courier_enters & pickup_time_local & courier_enters_delivery)
df[df.pickup_time_local.isnull()].head()

,id,final_status,store_address_id,customer_id,courier_id,vertical,is_food,transport,number_of_assignments,total_real_distance,activation_time_local,last_courier_assigned_time,courier_started_order_local,courier_enters_pickup_time_local,pickup_time_local,courier_enters_delivery_point_time_local,termination_time,Total Time
3,53235752.0,CanceledStatus,85260.0,20466508.0,20153483.0,WALL - Partner,1.0,BICYCLE,1.0,6.429,2019-07-13 21:55:58,2019-07-13 22:24:58,2019-07-13 22:24:58,NaT,NaT,NaT,2019-07-13 22:25:15,29
158,52569774.0,CanceledStatus,50845.0,1908784.0,14917583.0,WALL - Partner,1.0,BICYCLE,1.0,5.928,2019-07-10 00:06:25,2019-07-10 00:07:00,2019-07-10 00:07:51,NaT,NaT,NaT,2019-07-10 00:25:36,19
214,52693818.0,CanceledStatus,18296.0,10330603.0,13762181.0,WALL - Partner,1.0,CAR,3.0,9.728,2019-07-10 21:08:40,2019-07-10 22:10:05,2019-07-10 22:10:05,NaT,NaT,NaT,2019-07-10 22:12:21,3
321,52486253.0,CanceledStatus,16697.0,13220340.0,4055620.0,WALL - Partner,1.0,MOTORBIKE,2.0,3.788,2019-07-09 18:41:01,2019-07-09 19:26:17,2019-07-09 19:26:17,NaT,NaT,NaT,2019-07-09 19:30:02,49
448,52981582.0,CanceledStatus,16709.0,6124041.0,18633852.0,WALL - NonPartner,0.0,BICYCLE,1.0,3.088,2019-07-12 17:50:38,2019-07-12 17:58:28,2019-07-12 17:58:45,NaT,NaT,NaT,2019-07-12 18:13:17,22

* The percent missing of the data in {courier_enters & pickup_time_local & courier_enters_delivery} is not too big.
* The missing value is just .2% and the missing values in the aligned rows, so let's just drop the missing value 
* I think this will not affect the data since the data is big enough.

In [ ]:
## let's drop the rows of the Misiing data!
df.dropna(subset=['courier_enters_pickup_time_local', 
                  'pickup_time_local', 'store_address_id',
                  'courier_enters_delivery_point_time_local'], axis='index', inplace=True)

In [ ]:
#fix/fill nulls

df.isnull().sum(axis=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2384 entries, 0 to 2470
Data columns (total 18 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   id                                        2384 non-null   float64
 1   final_status                              2384 non-null   object
 2   store_address_id                          2384 non-null   float64
 3   customer_id                               2384 non-null   float64
 4   courier_id                                2384 non-null   float64
 5   vertical                                  2384 non-null   object
 6   is_food                                   2384 non-null   float64
 7   transport                                 2384 non-null   object
 8   number_of_assignments                     2384 non-null   float64
 9   total_real_distance                       2384 non-null   float64
 10  activation_time_local                     2384 non-null   datetime64[ns]
 11  last_courier_assigned_time                2384 non-null   datetime64[ns]
 12  courier_started_order_local               2384 non-null   datetime64[ns]
 13  courier_enters_pickup_time_local          2384 non-null   datetime64[ns]
 14  pickup_time_local                         2384 non-null   datetime64[ns]
 15  courier_enters_delivery_point_time_local  2384 non-null   datetime64[ns]
 16  termination_time                          2384 non-null   datetime64[ns]
 17  Total Time                                2384 non-null   int64
dtypes: datetime64[ns](7), float64(7), int64(1), object(3)
memory usage: 353.9+ KB

In [ ]:
#feature engineering driving time

df['driving_time']=df['courier_enters_delivery_point_time_local']-df['pickup_time_local']

In [ ]:

df.describe()

,id,store_address_id,customer_id,courier_id,is_food,number_of_assignments,total_real_distance,Total Time,driving_time
count,2.384000e+03,2384.000000,2.384000e+03,2.384000e+03,2384.000000,2384.000000,2384.000000,2384.000000,2384
mean,5.289183e+07,29176.234899,1.225191e+07,1.393312e+07,0.979446,1.163171,5.033042,30.907299,0 days 00:08:07.608640939
std,3.465792e+05,21874.214442,6.550655e+06,4.924975e+06,0.141914,0.465118,2.437131,12.924756,0 days 00:04:06.397028261
min,5.225996e+07,15727.000000,9.442500e+04,2.044461e+06,0.000000,1.000000,0.708000,0.000000,0 days 00:00:03
25%,5.261749e+07,18300.000000,5.630302e+06,9.558769e+06,1.000000,1.000000,3.352500,22.000000,0 days 00:05:22
50%,5.286078e+07,18300.000000,1.370762e+07,1.492411e+07,1.000000,1.000000,4.563000,31.000000,0 days 00:07:36
75%,5.320678e+07,30640.000000,1.812823e+07,1.778752e+07,1.000000,1.000000,6.099500,40.000000,0 days 00:10:04
max,5.347565e+07,90971.000000,2.062533e+07,2.055075e+07,1.000000,6.000000,19.789000,59.000000,0 days 00:40:01

In [ ]:
df.head()

,id,final_status,store_address_id,customer_id,courier_id,vertical,is_food,transport,number_of_assignments,total_real_distance,activation_time_local,last_courier_assigned_time,courier_started_order_local,courier_enters_pickup_time_local,pickup_time_local,courier_enters_delivery_point_time_local,termination_time,Total Time,driving_time
0,53134335.0,DeliveredStatus,85260.0,18579597.0,20153483.0,WALL - Partner,1.0,BICYCLE,1.0,6.029,2019-07-13 13:04:44,2019-07-13 13:05:32,2019-07-13 13:06:49,2019-07-13 13:09:13,2019-07-13 13:28:45,2019-07-13 13:46:58,2019-07-13 13:59:49,55,0 days 00:18:13
1,53009545.0,DeliveredStatus,23517.0,11871195.0,20153483.0,WALL - Partner,1.0,BICYCLE,1.0,3.998,2019-07-12 20:06:29,2019-07-12 20:10:42,2019-07-12 20:11:02,2019-07-12 20:16:05,2019-07-12 20:23:07,2019-07-12 20:37:53,2019-07-12 20:43:01,36,0 days 00:14:46
2,53129297.0,DeliveredStatus,18300.0,1053786.0,20153483.0,WALL - Partner,1.0,BICYCLE,1.0,5.309,2019-07-13 12:14:58,2019-07-13 12:15:44,2019-07-13 12:23:40,2019-07-13 12:45:16,2019-07-13 12:50:09,2019-07-13 12:55:16,2019-07-13 12:59:23,44,0 days 00:05:07
4,53002671.0,DeliveredStatus,15912.0,16549489.0,20153483.0,WALL - Partner,1.0,BICYCLE,1.0,3.442,2019-07-12 19:40:13,2019-07-12 19:41:14,2019-07-12 19:42:34,2019-07-12 19:46:28,2019-07-12 19:56:59,2019-07-12 20:07:08,2019-07-12 20:10:37,30,0 days 00:10:09
5,53210586.0,DeliveredStatus,23518.0,16210716.0,20153483.0,WALL - Partner,1.0,BICYCLE,1.0,3.103,2019-07-13 20:34:10,2019-07-13 20:35:04,2019-07-13 20:36:19,2019-07-13 20:45:05,2019-07-13 20:49:33,2019-07-13 21:06:04,2019-07-13 21:08:21,34,0 days 00:16:31

In [ ]:
df.store_address_id.nunique()

64

In [ ]:
df.courier_id.nunique()

82

In [ ]:
from google.colab import files
df.to_excel("df.xlsx", "df")